<form action="delete" method="POST">

    <div class="wrap-input100 validate-input ">
        <label for=" ">Id Of Student</label>
        <input class="input100 " type="text " name="id" placeholder="Delete Student Record">
        <span class="focus-input100 "></span>
    </div>
    <button class="login100-form-btn " value="submit ">delete</button>
</form>
<a href="/" role="button">back</a>