<form action="update" method="POST">

    <div class="wrap-input100 validate-input ">
        <label for=" ">Search by id</label>
        <input class="input100 " type="text " name="id" placeholder="Update Student Record">
        <span class="focus-input100 "></span>
    </div>
    <button class="login100-form-btn " value="submit ">Search</button>
</form>
<a href="/detail" role="button">back</a>